

body {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto Mono', monospace;
  background-color: #413E60;
}
html {
  height: 100%;
  font-size: 1rem;
}
@media (min-width: 576px) {
  html {
font-size: 1.3rem;
}
}
@media (min-width: 768px) {
  html {
  font-size: 1.4rem;
}
}
@media (min-width: 992px) {
  html {
font-size: 1.5rem;
}
}
@media (min-width: 1200px) {
  html {
font-size: 1.7rem;
}
}
